/* MAIN LAYOUT */
.dashboard-container {
  padding: 20px 40px;
  width: 100%;
  background: #f5f6fa;
  min-height: 100vh;
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px 12px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.profile-avatar {
  width: 40px;
  height: 40px;
  background: #1976d2 !important;
  color: white !important;
  font-size: 18px;
}

.profile-name {
  font-weight: 600;
  font-size: 14px;
}

.profile-email {
  font-size: 12px;
  color: gray;
}

.dropdown-icon {
  font-size: 22px;
  color: gray;
}

/* CARD WRAPPER */
.paperBox {
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 2rem 1rem;
}

/* FILTER SECTION */
.filterBox {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
  justify-content: center;
    padding: 1rem;
}

.searchInput,
.sortInput,
.orderInput {
  width: 220px;
}

/* MOVIE CARD */
.movieCard {
  padding: 18px;
  border-radius: 14px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  transition: 0.25s;
}

.movieCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.18);
}

.movieTitle {
  font-weight: 600;
  margin-bottom: 8px;
}

.movieDetails {
  font-size: 14px;
  margin: 3px 0;
}

/* PAGINATION */
.paginationBox {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
